*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#020202;
  color:white;
}

.hero{
  min-height:100vh;
  background:
  linear-gradient(rgba(0,0,0,.72),rgba(0,0,0,.9)),
  url('https://images.unsplash.com/photo-1592919505780-303950717480?q=80&w=1800&auto=format&fit=crop');
  background-size:cover;
  background-position:center;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:28px 8%;
}

.logo{
  font-size:2.3rem;
  font-weight:900;
}

.logo span{
  color:#00ff88;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-weight:bold;
  transition:.2s;
}

.nav-links a:hover{
  color:#00ff88;
}

.hero-content{
  text-align:center;
  margin-top:140px;
  padding:20px;
}

.hero-content h1{
  font-size:6rem;
  color:#00ff88;
  text-shadow:0 0 18px #00ff88;
}

.hero-content p{
  margin-top:20px;
  font-size:2rem;
  color:#f1f1f1;
}

.hero-buttons{
  margin-top:45px;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
}

.btn{
  padding:16px 32px;
  border-radius:16px;
  border:2px solid #00ff88;
  color:white;
  text-decoration:none;
  font-weight:bold;
  transition:.2s;
  background:rgba(255,255,255,.04);
}

.green{
  background:#00ff88;
  color:black;
}

.btn:hover{
  transform:scale(1.05);
}

.section{
  padding:90px 8%;
}

.dark{
  background:#07110b;
}

.section h2{
  text-align:center;
  font-size:3rem;
  margin-bottom:50px;
  color:#00ff88;
}

.card-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:28px;
}

.card{
  background:#111;
  border:2px solid #00ff88;
  border-radius:22px;
  padding:30px;
  transition:.25s;
  min-height:210px;
}

.card:hover{
  transform:translateY(-7px);
  box-shadow:0 0 24px rgba(0,255,136,.45);
}

.card h3{
  font-size:1.8rem;
  margin-bottom:18px;
}

.card p{
  color:#cfcfcf;
  line-height:1.7;
  font-size:1.02rem;
}

.scorecard-box{
  max-width:900px;
  margin:auto;
  background:#101010;
  border:2px solid #00ff88;
  border-radius:24px;
  padding:55px;
  text-align:center;
}

.scorecard-box p{
  font-size:1.4rem;
  margin-bottom:35px;
  line-height:1.7;
}

footer{
  text-align:center;
  padding:45px 20px;
  background:black;
}

footer h3{
  color:#00ff88;
  font-size:2rem;
}

footer p{
  margin-top:10px;
}

.footer-small{
  color:#777;
  font-size:.9rem;
}

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
  }

  .hero-content h1{
    font-size:3.5rem;
  }

  .hero-content p{
    font-size:1.3rem;
  }

  .section h2{
    font-size:2.2rem;
  }

}
